<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarif</title>
</head>
<body>
    <form method='post'>
        <label for='source_currency'>Source currency:</label>
        <select id="source_currency" name="source_currency">
                <option value="GBP" {% if source_currency == 'GBP' %}selected{% endif %}>GBP - British Pound</optionvalue></option>
            <option value="USD" {% if source_currency == 'USD' %}selected{% endif %}>USD - US Dollar</option>
        </select>

        <label for='target_currency'>Target currency:</label>
        <select id="target_currency" name="target_currency">
            <option value="USD" {% if target_currency == 'USD' %}selected{% endif %}>USD - US Dollar</option>
                <option value="GBP" {% if target_currency == 'GBP' %}selected{% endif %}>GBP - British Pound</optionvalue></option>
        </select>

        <label for='target_amount'>Target amount:</label>
        <input type="number" name="target_amount" required>

        <button type="submit">Get quote</button>
    </form>
    {% if quote_data %}
        {% if quote_data.error %}
            <p>Error: {{ quote_data.error }}</p>
        {% else %}
            <h3>Quote details</h3>
            <p>You send: {{ quote_data.sourceAmount }}</p>
            <p>They get: {{ quote_data.targetAmount }}</p>
            <p>Rate: {{ quote_data.rate }}</p>
        {% endif %}
    {% endif %}
</body>
</html>