<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sarif</title>
</head>
<body>
    <form method='post'>
        <label for='source_currency'>Source currency:</label>
        <input type="text" name="source_currency" required>

        <label for='target_currency'>Target currency:</label>
        <input type="text" name="target_currency" required>

        <label for='source_amount'>Source amount:</label>
        <input type="number" name="source_amount" required>

        <button type="submit">Get quote</button>
    </form>
    {% if quote_data %}
        {% if quote_data.error %}
            <p>Error: {{ quote_data.error }}</p>
        {% else %}
            <h3>Quote details</h3>
            <p>Source Amount: {{ quote_data.source_amount }}</p>
            <p>Wise Fees: {{ quote_data.wise_fees }}</p>
            <p>Total Cost with Fees: {{ quote_data.total_cost }}</p>
            <p>Target Amount: {{ quote_data.target_amount }}</p>
            <p>Rate: {{ quote_data.rate }}</p>
        {% endif %}
    {% endif %}
</body>
</html>